.signup{
    display: grid;
    background-color: white;
    place-items: center;
    align-self: center;
    padding: 10px 20px;
    width: 400px;
    border-radius: 10px;
    gap: 20px;
    .field{
        display: grid;
        width: 100%;
    }
    .options{
        border-top: 1px solid black;
        width: 100%;
        text-align: center;
        place-items: center;
        .option-icons{
            width: 100%;
            display: flex;
            justify-content: space-around;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}
@media (max-width:450px) {
    .signup{
        width: 100%;
    }
}